@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Armio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

html, body, #root {
  background: transparent !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: transparent;
  font-family: 'Orbitron', sans-serif;
}



button {
  cursor: pointer;
  border: none;
}